@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

head {
    display: none;
}

html, body {
    background-color: black;
}

canvas {
    position: absolute;
    background-color: black;
}

.notifications {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
}
.notify {
    width: 300px;
    background-color: rgb(46, 46, 46);
    color: rgb(26, 165, 10);
    font-size: 24px;
    font-family: 'Roboto';
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.notify i {
    padding-right: 5px;
}